/* blog-list.module.css */

.blogList {
  margin-bottom: var(--spacing-8);
}

.featuredSection {
  margin-bottom: var(--spacing-8);
  /*
  display: flex;
  flex-direction: column;
  align-items: center;
  */
}

/* Section タイトルのスタイル */
.sectionTitle {
  color: var(--color-heading);
  text-align: center;
  margin-bottom: var(--spacing-6);
}

/* 人気の記事のスタイル */
.featuredArticles {
  margin-bottom: var(--spacing-2);
}

.articleList {
  list-style: none;
  padding: var(--spacing-0) var(--spacing-4);
  margin: var(--spacing-0);
  text-align: left;
}

.articleList li {
  margin-bottom: var(--spacing-4);
}

.articleLink {
  font-size: var(--fontSize-2); /* ブログ記事のタイトルと同じサイズ */
  color: var(--color-primary);
  text-decoration: none;
  font-weight: var(--fontWeight-bold);
  line-height: var(--lineHeight-normal);
}

.articleLink:hover {
  color: var(--color-hover-title);
}

/* 人気のタグのスタイル */
.featuredTags {
  margin-bottom: var(--spacing-6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postList {
  list-style: none;
  margin: var(--spacing-0);
  padding: var(--spacing-0);
}

.postItem {
  margin-bottom: var(--spacing-8);
}

.postItem header {
  margin-bottom: var(--spacing-4);
}

.postItem h3 {
  font-size: var(--fontSize-3);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  text-align: left;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: var(--spacing-0);
  margin: var(--spacing-0);
  justify-content: left;
}

.tagItem {
  margin: var(--spacing-1);
}

.tagItem a {
  display: inline-block;
  padding: var(--spacing-1) var(--spacing-2);
  background-color: var(--color-accent);
  color: var(--color-text-light);
  font-size: var(--fontSize-0);
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.tagItem a:hover {
  background-color: var(--color-hover-tag-bg);
  color: var(--color-hover-tag-text);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: var(--spacing-2); /* ボタン間のスペース */
  list-style: none;
  padding: 0;
  margin: var(--spacing-4) 0;
}

.pagination-item {
  display: inline-block;
  width: 2rem; /* 丸ボタンのサイズ */
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 50%; /* 丸くする */
  background-color: var(--color-accent); /* デフォルト背景色 */
  color: var(--color-text-light); /* デフォルト文字色 */
  text-decoration: none;
  font-size: var(--fontSize-1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-item:hover {
  background-color: var(--color-hover-title); /* ホバー時の背景色 */
  color: var(--color-hover-tag-text); /* ホバー時の文字色 */
}

.pagination-item.active {
  background-color: var(--color-primary); /* 現在のページ背景色 */
  color: white; /* 現在のページ文字色 */
}

.pagination-next-prev {
  display: inline-block;
  padding: var(--spacing-1) var(--spacing-3); /* Next/Previous のサイズ調整 */
  border-radius: var(--spacing-1); /* 少し丸みをつける */
  background-color: var(--color-accent); /* デフォルト背景色 */
  color: var(--color-text-light); /* デフォルト文字色 */
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-next-prev:hover {
  background-color: var(--color-hover-title); /* ホバー時の背景色 */
  color: white; /* ホバー時の文字色 */
}
