.relatedPostsWrapper {
  margin-top: var(--spacing-0);
  padding: var(--spacing-4) var(--spacing-0);
  background: var(--color-background);
  border-radius: var(--border-radius);
}

.relatedPostsTitle {
  font-size: var(--fontSize-5);
  font-weight: bold;
  margin: var(--spacing-4) 0;
  text-align: center;
}

.postList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}
