.serviceList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.serviceItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.serviceImage {
  width: 20%;
  margin-right: 2rem;
  border-radius: 8px;
  object-fit: cover; /* 画像のアスペクト比を保持して、枠内に収める */
}

.serviceContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* アイコンとテキストの位置を調整 */
}

.serviceTitle {
  font-size: var(--fontSize-4);
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: var(--spacing-1);
  color: var(--color-primary);
}

.serviceDescription {
  font-size: var(--fontSize-1);
  color: var(--color-text);
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* スマートフォン対応 */
@media (max-width: 42rem) {
  .serviceItem {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .serviceImage {
    display: none !important; /* スマホではアイキャッチ画像を非表示 */
  }

  .serviceContent {
    align-items: center;
  }

  .serviceDescription {
    font-size: var(--fontSize-0);
  }
}
