.tagHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: var(--spacing-2);
}

.tagIcon {
  font-size: var(--fontSize-5);
  margin-right: var(--spacing-2);
  line-height: 1;
}

.tagListContainer {
  padding-left: var(--spacing-0);
  margin-left: var(--spacing-0);
}

.tagArticle {
  margin-bottom: var(--spacing-5);
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: var(--spacing-0);
  margin: var(--spacing-0);
  justify-content: left;
}

.tagItem {
  margin: var(--spacing-1);
}

.tagItem a {
  display: inline-block;
  padding: var(--spacing-1) var(--spacing-2);
  background-color: var(--color-accent);
  color: var(--color-text-light);
  font-size: var(--fontSize-0);
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.tagItem a:hover {
  background-color: var(--color-hover-tag-bg);
  color: var(--color-hover-tag-text);
}

.postList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-0);
}

.postItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: var(--spacing-4) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

.postThumbnail {
  width: 20%;
  margin-right: var(--spacing-4);
  object-fit: cover;
}

.noImageBox {
  width: 20%;
  height: 0;
  padding-top: 20%;
  background-color: #f0f0f0;
  border: 1px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--spacing-4);
  border-radius: 8px;
}

.noImageText {
  font-size: var(--fontSize-1);
  color: #999;
}

.postContent {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.postTitle {
  font-size: var(--fontSize-3);
  font-weight: bold;
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-1);
  color: var(--color-primary);
}

.postDate {
  font-size: var(--fontSize-1);
  color: var(--color-text-light);
  margin-bottom: var(--spacing-2);
}

.postDescription {
  font-size: var(--fontSize-1);
  color: var(--color-text);
}

@media (max-width: 767px) {
  .postThumbnail {
    display: none !important; /* スマホではサムネイルを非表示 */
  }
}
