.tagsPage {
    padding: var(--spacing-6);
}

.tagIcon {
    font-size: var(--fontSize-5);
    margin-right: var(--spacing-2);
    line-height: 1;
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: var(--spacing-0);
    margin: var(--spacing-0);
}

.tagItem {
    margin: var(--spacing-1);
}

.tagItem a {
    display: inline-block;
    padding: var(--spacing-1) var(--spacing-2);
    background-color: var(--color-accent);
    color: var(--color-text-light);
    font-size: var(--fontSize-0);
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.tagItem a:hover {
    background-color: var(--color-hover-tag-bg);
    color: var(--color-hover-tag-text);
}